<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인절미BS | 홈</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/views/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/views/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/views/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/views/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/views/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/views/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/views/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/views/css/style.css" type="text/css">
</head>

<body>
    <% if(change){%>
<<<<<<< HEAD
        <script>alert("비밀번호 변경성공!.")</script>
    <%}%>
    <% if(outchange){%>
        <script>alert("회원탈퇴 성공!.")</script>
=======
        <script>alert("비밀번호가 변경되었습니다.")</script>
>>>>>>> ed27e8bc867aa2d06c1a3a5a5c0e530b097761dc
    <%}%>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Header Section Begin -->
    <header class="header-section">
        
        <div class="container-fluid">
                
            <div class="logo">
                <a href="/views/index.ejs?"><img src="/views/img/logo.png" alt=""></a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li class="active">
                        <a href="/views/index.ejs?">홈</a>
                    </li>
                    <li>
                        <a href="/views/listings.ejs?">관광지</a>
                    </li>
                    <li>
                        <a href="/views/contact.ejs?">문의</a>
                    </li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                    <%if(loggedin){%>
                        <!-- <a href="/views/Register/Modify.ejs" class="primary-btn"><%=user_id%></a> -->
                        <li id="login_li"><a href="#" id="current"><%=user_id%> 님</a>
                            <ul>
                                <li><a href="/views/Register/Modify.ejs">회원정보 수정</a></li>
                                <li><a href="/views/logout">로그아웃</a></li>
                            </ul>
                        </li>
                    <%}else{%>
                        <a href="/views/Register/Login.ejs?" class="primary-btn">로그인</a>
                    <%}%>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Hero Section End -->

    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" id="local_img" data-setbg="/views/local_img/Seoul.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero-text">
                        <img src="/views/img/placeholder.png" alt="">
                        <h1 id="mainLocalText">서울특별시</h1>
                        <form action="/views/listings.ejs" class="filter-search">
                            <div class="category-search">
                                <h5>카테고리</h5>
                                <select name="category" class="ca-search" id="AttractionCategory">
                                    <option>전체</option>
                                    <option>자연</option>
                                    <option>문화관광</option>
                                    <option>테마관광지</option>
                                    <option>도보</option>
                                    <option>레저/체험</option>
                                </select>
                            </div>
                            <div class="location-search">
                                <h5>위치</h5>
                                <select name="location" class="lo-search" id="AttractionLocation">
                                    <option>전체</option>
                                    <option>서울</option>
                                    <option>부산</option>
                                    <option>대구</option>
                                    <option>인천</option>
                                    <option>광주</option>
                                    <option>대전</option>
                                    <option>울산</option>
                                    <option>세종</option>
                                    <option>경기</option>
                                    <option>강원</option>
                                    <option>충북</option>
                                    <option>충남</option>
                                    <option>전북</option>
                                    <option>전남</option>
                                    <option>경북</option>
                                    <option>경남</option>
                                    <option>제주</option>
                                </select>
                            </div>
                            <button type="submit">검색</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Trending Restaurant Section Begin -->
    <section class="trending-restaurant spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>가장 인기 많은 관광지</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--  -->
                <% for (var index in popular){ if (index >3) break;%>
                <div class="col-lg-6">
                    <div class='trend-item'>
                        <a class="arrange-items" href=<%="single-listing.ejs?id="+popular[index].id%>>
                            <div class="trend-pic">
                                <img src="img/arrange/arrange-9.jpg" alt="">
                                <div class="rating"><%=popular[index].score%></div>
                            </div>
                            <div class="trend-text">
                                <h4> <%= popular[index].title%> </h4>
                                <span><%= popular[index].address%></span>
                                <p>요금 : <%= (popular[index].fee ==0)?'무료': popular[index].fee%></p>
                                <div class="open" style="background-color: #FF5581;"><%= popular[index].opentime%></div>
                            </div>
                        </a>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
        </div>
    </section>
    <!-- Trending Restaurant Section End -->

    <!-- Categories Section Begin -->
    <section class="categories-section spad">
        <div class="container-fluid">
            <div class="categories-left">
                <div class="categories-item set-bg large-img" data-setbg="/views/img/categories/cat-1.jpg">
                    <a href="/views/img/categories/cat-1.jpg" class="img-hover pop-up"><img src="/views/img/zoom.png"
                            alt=""></a>
                    <div class="categories-text">
                        <h4>자연</h4>
                        <p><%= result[3].count%> 개의 관광지</p>
                        <a href="#">View All</a>
                    </div>
                </div>
            </div>
            <div class="categories-right">
                <div class="row">
                    <div class="col-md-6">
                        <div class="categories-item set-bg" data-setbg="img/categories/cat-2.jpg">
                            <a href="/views/img/categories/cat-2.jpg" class="img-hover pop-up"><img
                                    src="/views/img/zoom.png" alt=""></a>
                            <div class="categories-text">
                                <h4>문화관광</h4>
                                <p><%= result[2].count%> 개의 관광지</p>
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="categories-item set-bg" data-setbg="/views/img/categories/cat-3.jpg">
                            <a href="/views/img/categories/cat-3.jpg" class="img-hover pop-up"><img
                                    src="/views/img/zoom.png" alt=""></a>
                            <div class="categories-text">
                                <h4>테마관광지</h4>
                                <p><%= result[4].count%> 개의 관광지</p>
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="categories-item set-bg" data-setbg="/views/img/categories/cat-4.jpg">
                            <a href="/views/img/categories/cat-4.jpg" class="img-hover pop-up"><img
                                    src="/views/img/zoom.png" alt=""></a>
                            <div class="categories-text">
                                <h4>도보</h4>
                                <p><%= result[0].count%> 개의 관광지</p>
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="categories-item set-bg" data-setbg="/views/img/categories/cat-5.jpg">
                            <a href="/views/img/categories/cat-5.jpg" class="img-hover pop-up"><img
                                    src="/views/img/zoom.png" alt=""></a>
                            <div class="categories-text">
                                <h4>레저/체험</h4>
                                <p><%= result[1].count%> 개의 관광지</p>
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- Categories Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/views/js/jquery-3.3.1.min.js"></script>
    <script src="/views/js/bootstrap.min.js"></script>
    <script src="/views/js/jquery.magnific-popup.min.js"></script>
    <script src="/views/js/jquery.slicknav.js"></script>
    <script src="/views/js/owl.carousel.min.js"></script>
    <script src="/views/js/jquery.nice-select.min.js"></script>
    <script src="/views/js/mixitup.min.js"></script>
    <script src="/views/js/main.js"></script>
</body>

</html>