<!DOCTYPE html>
<html lang="zxx">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Yoga Studio Template">
        <meta name="keywords" content="Yoga, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>인절미 BS | 관광지 정보</title>

        <!-- Google Font -->
        <link
            href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap"
            rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="css/flaticon.css" type="text/css">
        <link rel="stylesheet" href="css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>

    <body>
        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Header Section Begin -->
        <header class="header-section listings">
            <div class="container-fluid">
                <div class="logo">
                    <a href="./index.ejs?#?"><img src="img/logo.png" alt=""></a>
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li>
                            <a href="index.ejs?#?">홈</a>
                        </li>
                        <!-- <li> <a href="how-it-works.html">Explore</a> </li> -->
                        <li class="active">
                            <a href="listings.ejs?#?">관광지</a>
                        </li>
                        <!-- <li> <a href="blog.html">News</a> </li> -->
                        <li>
                            <a href="contact.ejs?#?">문의</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-right">
                        <div class="user-access">
                                <%if(loggedin){%>
                                    <li id="login_li"><a href="#" id="current"><%=user_id%> 님</a>
                                        <ul>
                                            <li><a href="/views/Register/Modify.ejs">회원정보 수정</a></li>
                                            <li><a href="/views/logout">로그아웃</a></li>
                                        </ul>
                                    </li>
                                <%}else{%>
                                    <a href="/views/Register/Login.ejs?" class="primary-btn">로그인</a>
                                <%}%>
                        </div>
                    <!-- <a href="#" class="primary-btn">Add Listing</a> -->
                </div>
                <div id="mobile-menu-wrap"></div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Hero Section Begin -->
        <div class="hero-listing set-bg" data-setbg=<%=(result[0].picture==null)?"img/gottraction.png":"img/uploaded/"+result[0].picture%>></div>
        <!-- Hero Section End -->

        <!-- About Secton Begin -->
        <section class="about-section">
            <div class="intro-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="about-intro">
                                <div class="rating"><%=result[0].score%></div>
                                <div class="intro-text">
                                    <%var titletag = result[0].authorized?'h2':'h3'%>
                                    <%-'<'+titletag+'>'%><%=result[0].title%><%-'</'+titletag+'>'%>
                                    <p><%=result[0].category%></p>
                                    <!-- <div class="open">운영 시간 : </div> -->
                                    <!-- <div class="closed">운영 마감</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="about-left">
                                <%var transition = (result[0].authorized)?'비공개글로 전환':'공개글로 전환'%>
                                <%if(authority =='admin'){%>
                                    <%-'<form method="POST" action ="authorize?Aid='+result[0].id+'" ><button type="submit">'+transition+'</button></form>'%><br>
                                <%}%>
                                <div class="about-desc">
                                    <%-result[0].contents%>
                                        
                                    </div>
                                    <div class="about-video">
                                    </div>
                                    <form method="POST" action =<%="deleteAttraction?Aid="+result[0].id %>><button type="submit" id="btn-delete-list">글 삭제</button></form><br>
                                    <div class="client-reviews">
                                        <p style="font-size: 30px; font-weight: bold;">
                                            리뷰&nbsp;&nbsp;
                                            <span>
                                                <span style="color: blue;"><%=reviews.length%></span>
                                            </span>
                                        </p>
                                        <br>
                                        <% if(reviews.length==0)var NONOTHING = "작성된 리뷰가 없습니다."%>
                                        <%=NONOTHING%>
                                        <%for (var index in reviews){%>
                                            <div class="reviews-item">
                                                <div class="rating">
                                                    <%for (let j = 0;j<Math.min(reviews[index].stars,5);j++){%>
                                                        <i class="fa fa-star"></i>
                                                    <%}%>
                                                </div>
                                                <h5><%=reviews[index].title%></h5>
                                                <p><%=reviews[index].Description%></p>
                                                <div class="client-text">
                                                    <h5><%=reviews[index].UserId%></h5>
                                                    <span><%=reviews[index].Wtime%></span><form method="POST" action =<%="deleteReview?Aid="+reviews[index].AttractionId + "&Rid=" + reviews[index].id %>><button type="submit" id="btn-delete-review">삭제</button></form>
                                                </div>
                                            </div>
                                        <%}%>
                                        <form class="review-form" action=<%="single-listing.ejs?id="+Aid%> method="post">
                                        <div class="starRev" name = value = 0;>
                                            <input id="star1" type="radio" name = "stars" value=1 checked='checked' style="visibility: hidden;"></input>
                                            <input id="star2" type="radio" name = "stars" value=2 style="visibility: hidden;"></input>
                                            <input id="star3" type="radio" name = "stars" value=3 style="visibility: hidden;"></input>
                                            <input id="star4" type="radio" name = "stars" value=4 style="visibility: hidden;"></input>
                                            <input id="star5" type="radio" name = "stars" value=5 style="visibility: hidden;"></input><br>
                                        
                                            <span class="starR on" onclick="document.getElementById('star1').click()">★</span>
                                            <span class="starR"onclick="document.getElementById('star2').click()">★</span>
                                            <span class="starR"onclick="document.getElementById('star3').click()">★</span>
                                            <span class="starR"onclick="document.getElementById('star4').click()">★</span>
                                            <span class="starR"onclick="document.getElementById('star5').click()">★</span>
                                            <p id="review-text">별점을 선택하세요.</p>
                                        </div>
                                            <textarea id="comment" name="description" placeholder="리뷰를 작성해주세요."></textarea><br>
                                        
                                        <!-- <div class="form-reg"> -->
                                            <button type="submit" class="btn_register" id="btn-review-reg">등록</button>
                                        <!-- </div> -->
                                        </form><br><br><br><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="about-right">
                                    <div class="contact-info">
                                        <div class="map">
                                            <iframe
                                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5655.493669953989!2d127.20037446915745!3d37.29376644208718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5403ce34d773%3A0x1fa18ab619238098!2z7JeQ67KE656c65Oc!5e0!3m2!1sko!2skr!4v1573902925122!5m2!1sko!2skr"
                                                width="400"
                                                height="300"
                                                frameborder="0"
                                                style="border:0;"
                                                allowfullscreen=""></iframe>
                                        </iframe>
                                    </div>
                                    <div class="contact-text">
                                        <span><%=result[0].address%></span>
                                        <ul>
                                            <li><%=result[0].phone%></li>
                                            <li>영업시간 :
                                                <%=result[0].opentime%></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>사이트 맵</h4>
                        <ul>
                            <li>홈</li>
                            <li>관광지</li>
                            <li>문의</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>카테고리</h4>
                        <ul>
                            <li>전체</li>
                            <li>자연</li>
                            <li>문화관광</li>
                            <li>테마관광지</li>
                            <li>도보</li>
                            <li>레저/체험</li>>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>